{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <h1 class="text-center mb-5 mt-5">Connectez-vous</h1>

    {% for flashError in app.flashes('errorIsverified') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="mb-5 padding-12 width-100 justify-content-center col-lg-12">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes déjà connecté en tant que
                            <span class="text-decoration-underline">{{ app.user.username }} </span>
                            <a class="ml-3" href="{{ path('app_logout') }}">Me déconnecter</a>
                        </div>
                    {% endif %}

                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" class="form-control mb-3"  required autofocus>
                    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control mb-5" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}">

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" class="mr-2" name="_remember_me">Se souvenir de moi
                        </label>
                    </div>

                    <button class="btn btn-lg btn-dark" type="submit">
                        Se connecter
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 row flex-column no-margin text-center col-lg-12">
                <a class="ml-3 mb-3" href="{{ path('app_forgot_password_request') }}">Modifier mon mot de passe</a>
                <a class="ml-3" href="{{ path('app_forgot_password_request') }}">J'ai oublié mon mot de passe</a>
            </div>
        </div>

    </div>
{% endblock %}
