{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="mb-5 justify-content-center row col-lg-12">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecté avec l'adresse
            <span class="text-decoration-underline">{{ app.user.username }} </span>
            <a class="ml-3" href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mt-5 text-center mb-5 font-weight-normal">Connectez-vous</h1>


                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" class="form-control mb-3" required autofocus>
                <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control mb-5" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">



    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg mb-5 btn-dark" type="submit">
        Se connecter
    </button>
</form>
            </div>
        </div>
    </div>
{% endblock %}
