{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}



    <h1 class="text-center mb-5 mt-5">Formulaire d'inscription</h1>

    <div class="container">
        <div class="row">
            <div class="mb-5 padding-12 width-100 justify-content-center col-lg-12">
                {% for message in app.flashes('errorEmail') %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                {{ message }}
        </div>
                {% endfor %}
                {{ form_start(registrationForm) }}
                <div>
                        {{ form_widget(registrationForm.email, {'attr': { 'placeholder': 'Indiquez votre adresse mail','class': 'form-control mb-3', 'name': 'email'}}) }}
                </div>
                <div>
                        {{ form_widget(registrationForm.pseudo, {'attr': { 'placeholder': 'Choisissez un pseudo', 'class': 'form-control mb-3', 'name': 'pseudo'}}) }}
                </div>
                <div class="form-control height8 mb-3">
                    <p class="fileType">Téléchargez votre photo</p>
                    <div>
                        {{ form_widget(registrationForm.photo, {'attr': { 'class': 'fileType text-secondary','name': 'description'}}) }}
                    </div>
                </div>
                <div>
                        {{ form_widget(registrationForm.plainPassword, {'attr': { 'placeholder': 'Indiquez votre mot de passe', 'class': 'form-control mb-5', 'name': 'password'}}) }}
                </div>
                <button class="btn mb-5 btn-dark" type="submit">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>


{% endblock %}
