{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

    <section class="py-5 margin-10">
        <h1 class="text-center">{{ trick.name }}</h1>
        <div class="container">
            <div class="row">
                {% for media in trick.media %}

                    {% if media.featuredImg == 1 %}
                        <div class="col-lg-12 no-padding">
                            <img class="w-100 py-5" object-fit="" src="img/{{ media.link }}" alt="">
                        </div>

                        {% else %}
                            <div class="col-lg-3 no-padding margin-media" style="width: 5rem;">
                                <img class="card-img-top" src="img/{{ media.link }}" alt="">
                            </div>
                        {% endif %}

                {% endfor %}
            </div>

            <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">
                <iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html"
                        src="https://www.dailymotion.com/embed/video/xd5jv1" width="100%" height="100%" allowfullscreen > </iframe>
            </div>

            <h3 class="h4 mb-3 col-lg-12 border-top">Description du Trick</h3>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5 mb-lg-0">
                    <p class="lead first-letter-styled py-5 line-height-lg">{{ trick.description }}</p>
                </div>
                <div class="col-lg-12 justify-content-center small text-uppercase row mb-0">
                    <div class="card padding-card d-flex flex-row evenly margin-media col-lg-2">
                        <div class="margin-auto list-inline-item mr-0 text-muted">Autheur </div>
                        <div class="margin-auto list-inline-item"><img class="rounded-circle shadow-sm" src="img/{{ trick.user.avatar }}" alt="" width="70"/></div>
                        <div class="margin-auto list-inline-item mr-0 font-weight-bold reset-anchor">{{ trick.user.pseudo }}</div>
                    </div>
                    <div class="card d-flex flex-row evenly col-lg-3 margin-media">
                        <div class="margin-auto list-inline-item text-muted align-middle mr-0">créé le</div>
                        <div class="margin-auto list-inline-item align-middle mr-0 font-weight-bold reset-anchor">{{ trick.createdAt | date }}</div>
                    </div>
                    <div class="card d-flex flex-row evenly col-lg-3 margin-media">
                        <div class="margin-auto list-inline-item text-muted align-middle mr-0">dernière modification le</div>
                        <div class="margin-auto list-inline-item align-middle mr-0 font-weight-bold reset-anchor">{{ trick.updatedAt | date }}</div>
                    </div>
                    <div class="card d-flex flex-row evenly col-lg-2 margin-media">
                        <div class="margin-auto list-inline-item text-muted align-middle mr-0">catégorie </div>
                        <div class="margin-auto list-inline-item align-middle mr-0 font-weight-bold reset-anchor">{{ trick.category.name }}</div>
                    </div>
                </div>
            </div>

                <h3 class="h4 mb-5 col-lg-12 border-top">Laisser un commentaire</h3>

            {{ form_start(comment_form) }}
                <div class="container">
                    <div class="row">
                        <div class="mb-5 justify-content-center row col-lg-12">
                            <div class="col-lg-7">
                                {{ form_widget(comment_form.description, {'attr': { 'class': 'form-control radius', 'name': 'message', 'rows': '5', 'placeholder': 'Ecrivez votre message ici'}}) }}
                            </div>
                            <div class="form-group text-center margin-auto col-lg-2">
                                <button class="btn btn-dark" type="submit">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(comment_form) }}

                {% set count = 0 %}
                {% for comment in trick.comments %}
                    {% set count = count + 1 %}
                {% endfor %}
                <h3 class="border-top h4 mb-5 d-flex col-lg-12 align-items-center"><span>Commentaires</span><span class="ml-3 text-gray">{{ count }}</span></h3>

                <div id="containerComments" class="row d-flex flex-column">

                </div>


            <div id="divLoadmoreComments" class="dis-flex justify-content-center pb-3 pt-3 ">
                <button id="loadMoreComments" type="button" class="btn btn-dark">Voir plus</button>
            </div>
        </div>
    </section>

{% endblock %}

{% block otherScript %}
    <script>
        $(document).ready(function () {

            let offset = {{ offset }}

            let loadComments = function () {
                $.ajax({
                    url : '/{{ trick.slug }}/comments',
                    type : 'GET',
                    data : 'offset=' + offset,
                    dataType : 'json',
                    success : function(data){
                        let comments = JSON.parse(data.comments)
                        if(comments.length > 0){
                            for (let comment of comments){
                                $('<div class="container"></div>')
                                    .append($('<div class="row justify-content-center mb-2"></div>')
                                        .append($('<div class="col-lg-1 margin-auto"></div>'))
                                        .append($('<img  class="rounded-circle align-self-center shadow-sm img-fluid img-thumbnail"></img>')
                                            .attr('style', "height: 57px; width: 57px;")
                                            .attr('src', "img/" + comment.avatar)
                                        )
                                        .append($('<div  class="col-lg-5 card radius padding-card"></div>')
                                            .append($('<p class="small mb-0 text-primary">' + comment.date + '</p>'))
                                            .append($('<h5>' + comment.pseudo + '</h5>'))
                                            .append($('<p  class="text-muted text-small text-left">' + comment.comment + '</p>'))
                                            .append($('<a class="reset-anchor text-small" href="#"><i class="fas fa-share mr-2 text-primary"></i><strong>Répondre</strong></a>'))
                                        )
                                    )
                                    .appendTo($('#containerComments'))
                            }
                        }
                        offset += 4
                    }
                })
            }

            $('#loadMoreComments').click(function() {
                $('#divLoadmoreComments').removeClass('pt-3 pb-3')
                loadComments()
            })

            $('#scrollToTitle').click(function() {
                $("html, body").animate({scrollTop:$('#listingTitle').offset().top}, 1000)
            })

            loadComments()
        });

    </script>

{% endblock %}


